    {% for category in site.data.webstack %}
        {% if category.sub %}
          <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ category.name }}"></i>{{ category.name }}</h4>
          <br />
          <ul id="{{ category.name }}" class="nav nav-tabs" role="tablist">
            {%- assign _counter = 1 -%} <!--初始化一个计数器1，首次使用class为active, 然后将计数器归零，class为fade-->
            {% for sub_category in category.sub %}
              {% if _counter == 1 %}
            		  <li class="nav-item">
                    <a class="nav-link active" id="{{ sub_category.name }}-tab" data-toggle="pill" href="#{{ sub_category.name }}" role="tab" aria-controls="{{ sub_category.name }}" aria-selected="true"><i class="{{ sub_category.icon }}"></i> {{ sub_category.name }}
            		</a>
                    </li>
                  {%- assign _counter = 0 -%}
                  {% elsif _counter == 0 %}
                 <li class="nav-item">
                    <a class="nav-link" id="{{ sub_category.name }}-tab" data-toggle="pill" href="#{{ sub_category.name }}" role="tab" aria-controls="{{ sub_category.name }}" aria-selected="true"><i class="{{ sub_category.icon }}"></i> {{ sub_category.name }}
            		</a>
            	</li>
                  {% endif %}
               {% endfor %}
          </ul>
<div id="{{ category.name }}Content" class="tab-content row">
  {%- assign _counter = 1 -%} <!--初始化一个计数器1，首次使用class为active, 然后将计数器归零，class为fade-->
 {% for sub_category in category.sub %}
 {% if _counter == 1 %}
<div class="tab-pane fade show active row" id="{{ sub_category.name }}" role="tabpanel" aria-labelledby="{{ sub_category.name }}-tab">
  {%- assign _counter = 0 -%}
  {% elsif _counter == 0 %}
  <div class="row tab-pane fade row" id="{{ sub_category.name }}" role="tabpanel" aria-labelledby="{{ sub_category.name }}-tab">
    {% endif %}
  {% for link in sub_category.links %}
  <div class="col-sm-3">
      <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link.url }}">
          <div class="xe-comment-entry">
              <a class="xe-user-img">
                  <img src="{{ link.logo }}" class="img-circle" width="40">
              </a>
              <div class="xe-comment">
                  <a href="#" class="xe-user-name overflowClip_1">
                      <strong>{{ link.title }}</strong>
                  </a>
                  <p class="overflowClip_2">{{ link.description }}</p>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  </div>
{% endfor %}
  <br />
 </div>
        {% else if %}
        <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{ category.name }}"></i>{{ category.name }}</h4>
        <div class="row">
            {% for link in category.links %}
            <div class="col-sm-3">
                <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link.url }}">
                    <div class="xe-comment-entry">
                        <a class="xe-user-img">
                            <img src="{{ link.logo }}" class="img-circle" width="40">
                        </a>
                        <div class="xe-comment">
                            <a href="#" class="xe-user-name overflowClip_1">
                                <strong>{{ link.title }}</strong>
                            </a>
                            <p class="overflowClip_2">{{ link.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
        {% endif %}
    {% endfor %}
