    {% for category in site.data.webstack %}
        {% if category.sub %}
          <br />
          <h5 class="text-muted"><i class="linecons-tag" style="margin-right: 7px;" id="{{ category.name }}"></i>{{ category.name }}</h5>
          <br />
          <ul id="{{ category.name }}" class="nav nav-tabs" role="tablist">
            {%- assign _counter = 1 -%} <!--初始化一个计数器1，首次使用class为active, 然后将计数器归零，class为fade-->
            {% for sub_category in category.sub %}
              {% if _counter == 1 %}
            		  <li class="nav-item">
                    <a class="nav-link text-secondary active" id="{{ sub_category.name }}-tab" data-toggle="pill" href="#{{ sub_category.name }}" role="tab" aria-controls="{{ sub_category.name }}" aria-selected="true"><i class="{{ sub_category.icon }}"></i> {{ sub_category.name }}
            		</a>
                    </li>
                  {%- assign _counter = 0 -%}
                  {% elsif _counter == 0 %}
                 <li class="nav-item">
                    <a class="nav-link text-secondary" id="{{ sub_category.name }}-tab" data-toggle="pill" href="#{{ sub_category.name }}" role="tab" aria-controls="{{ sub_category.name }}" aria-selected="true"><i class="{{ sub_category.icon }}"></i> {{ sub_category.name }}
            		</a>
            	</li>
                  {% endif %}
               {% endfor %}
          </ul>
<div id="{{ category.name }}Content" class="tab-content">

  {%- assign _counter = 1 -%} <!--初始化一个计数器1，首次使用class为active, 然后将计数器归零，class为fade-->
 {% for sub_category in category.sub %}
 {% if _counter == 1 %}
<div class="tab-pane fade show active" id="{{ sub_category.name }}" role="tabpanel" aria-labelledby="{{ sub_category.name }}-tab">
  {%- assign _counter = 0 -%}
  {% elsif _counter == 0 %}
  <div class="tab-pane fade" id="{{ sub_category.name }}" role="tabpanel" aria-labelledby="{{ sub_category.name }}-tab">
    {% endif %}
    <div class="row">
  {% for link in sub_category.links %}
  <div class="col-sm-3 col-6" id="{{ link.title }}">
      <div class="box2" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link.description }}">
          <div class="nav-term">
              <a>
                  <img src="{{ link.logo }}" class="d-none d-sm-block" width="46px">
              </a>
              <div class="nav-link">
                  <a href="#{{ category.name }}" class="overflowClip_1">
                      {{ link.title }}
                  </a>
                  <p class="overflowClip_2 text-muted">{{ link.description }}</p>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  </div>
  </div>
{% endfor %}
  <br />

 </div>
        {% else if %}
        <h5 class="text-muted"><i class="linecons-tag" style="margin-right: 7px;" id="{{ category.name }}"></i>{{ category.name }}</h5>
        <div class="row">
            {% for link in category.links %}
            <div class="col-sm-3 col-6" id="{{ link.title }}">
                <div class="box2" onclick="window.open('{{ link.url }}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ link:description }}">
                    <div class="nav-term">
                        <a>
                            <img src="{{ link.logo }}"  class="d-none d-sm-block" width="46px">
                        </a>
                        <div class="nav-link">
                            <a href="#{{ category.name }}" class="overflowClip_1">
                                {{ link.title }}
                            </a>
                            <p class="overflowClip_2 text-muted">{{ link.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
         <div class="col-sm-3 col-6" id="推广">
             <div class="box2" >
                 <div class="nav-term">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- 展示 -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-2278867815194303"
                       data-ad-slot="3461121990"
                       data-ad-format="auto"
                       data-full-width-responsive="true"></ins>
                  <script>
                       (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>  
                 </div>
             </div>
         </div>
        </div>
        <br />
        {% endif %}
    {% endfor %}
<script>
	$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
