<div class="sidebar-menu toggle-others fixed nav">
    <div class="sidebar-menu-inner container" style="margin-top:80px;">

        <ul id="main-menu" class="main-menu">
            {% for category in site.data.webstack %}
                <a href="#{{ category.name }}" class="smooth">
                    <i class="{{ category.icon }}"></i>
                    <span class="title">{{ category.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
