
{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!--响应试导航-->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
        {%- include snippets/get-nav-url.html path=_paths_root -%}
       <a class="navbar-brand" href="{{ __return }}">
         <img alt="Brand" src="/assets/logo.png">
       </a>
       <a class="navbar-brand" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
        </div>  <!--输出logo和站标题-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {%- if site.data.navigation -%}
        <ul class="nav navbar-nav navbar-right">
         {% for category in site.data.navigation %}
         <li>
           {% if category.sub %}
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                 <i class="{{ category.icon }}"></i> {{ category.name }} <span class="caret"></span>
               </a>
             <ul class="dropdown-menu">            <!--循环次级菜单-->
                 {% for sub_category in category.sub %}
                   <li>
                   <a href="{{ sub_category.links }}">{{ sub_category.name }}</a>
                   </li>
                 {% endfor %}
             </ul>   <!--结束循环次级菜单-->
           </li>
          {% else if %}
            <li role="presentation">
            <a href="{{ category.links }}" >
                <i class="{{ category.icon }}"></i>
                <span class="title">{{ category.name }}</span>
            </a>
            </li>
        {% endif %}
         </li>
         {% endfor %}
         {%- if site.search.provider -%}
           <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search title"></i></button>
           <!--测试代码-->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="123"></i>123 <span class="caret"></span>
                          </a>
                        <ul class="dropdown-menu">            <!--循环次级菜单-->
           
                              <li>
                              <a href="{{ sub_category.links }}">123</a>
                              </li>
           <li>
           <a href="{{ sub_category.links }}">123</a>
           </li>
                        </ul>   <!--结束循环次级菜单-->
                      </li>
                                 <!--测试代码-->
         {%- endif -%}
        </ul>
        {% endif %}
        </div>
      </div>
    </nav>
  </header>
