
{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="logo" src="{%- include svg/logo.svg -%}">
              </a>
        </div>
        <div class="header__brand">
          {%- include svg/logo.svg -%}
          {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
          {%- include snippets/get-nav-url.html path=_paths_root -%}
          {%- if site.title -%}
            <a title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
          {%- endif -%}
        </div>
        {%- if site.search.provider -%}
          <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
        {%- endif -%}
      </div>
      {%- if site.data.navigation -%}
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills">
          <!--重写导航-->
          {% for category in site.data.navigation %}
          <li>
              {% if category.sub %} <!--如果次级菜单有内容则输出一级菜单名，循环次级菜单-->
                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="{{ category.icon }}"></i> {{ category.name }} <span class="caret"></span>
                  </a>
                </li>
                  <!--循环次级菜单-->
              <ul ="nav nav-pills">
                  {% for sub_category in category.sub %}
                   <li role="presentation" class="dropdown">
                    <a href="{{ sub_category.links }}">{{ sub_category.name }}</a></li>
                  {% endfor %}
              </ul>
              <!--结束循环次级菜单-->
              {% else if %}
              <li role="presentation">
              <a href="{{ category.links }}" >
                  <i class="{{ category.icon }}"></i>
                  <span class="title">{{ category.name }}</span>
              </a></li>
              {% endif %}
          </li>
            {% endfor %}
            {%- if site.search.provider -%}
              <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
            {%- endif -%}
        </ul>

      </nav>

      {%- endif -%}
    </div>
  </header>
