/* start custom scss snippet */
#banner,
#banner li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#banner{
    position: absolute;

}

#banner li{
    float: left;
}

#banner li img{
    display: block;
}


/*设置父元素定位*/
#container{
    position: relative; /*为了给左右按钮 和小圆点*/
    height: 600px;
    width: 800px;
}


/*小圆点*/
#buttons{
    position: absolute; /*小圆点绝对定位*/
    height: 10px;
    width: 100px;
    bottom: 20px;  /*距离底部20px*/
    left: 50%;  /*左右居中显示*/
    z-index: 100;
}

#buttons span{
    cursor: pointer;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%; /*设置成圆*/
    background: #333;
    margin-right: 5px;
}

#buttons .on{
    background: orangered;
}

/*左右按钮*/
.arrow{
    cursor: pointer;
    display: none;  /*设置暂时不显示*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 200;
    top: 180px;
    background: RGBA(0,0,0,.3);  /*背景透明度*/
    color: #fff;
}

#prev{
    left: 20px;
}

#next{
    right: 20px;
}

 #container:hover .arrow {
     display: block;
 }
/* end custom scss snippet */
