<!-- start custom main bottom snippet -->
	  <div id="google-ads">
	  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	  <ins class="adsbygoogle"
	       style="display:block"
	       data-ad-format="fluid"
	       data-ad-layout-key="-gw-3+1f-3d+2z"
	       data-ad-client="ca-pub-2278867815194303"
	       data-ad-slot="2953306796"></ins>
	  <script>
	       (adsbygoogle = window.adsbygoogle || []).push({});
	  </script>
	  </div>
<!-- end custom main bottom snippet -->
