<!doctype html>
<html lang="zh">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{%- include snippets/get-article-title.html article=page -%}
<title>13C导航 | 网罗优秀网站，专注优质导航</title>
<meta name="keywords" content="{{ site.keywords }}">

<meta name="description" content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<!-- Global site tag (gtag.js) - Google Analytics -->


<link rel="stylesheet" href="{{ _sources.font_awesome }}" >

{%- include head/custom.html -%}
    <link rel="stylesheet" href="../assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="../assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167959040-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-167959040-1');
    </script>
</head>

<body class="page-body">
    <!-- skin-white -->
	 {%- include header.html -%}
    <div class="d-flex" id="wrapper">
        {{ content }}
    </div>



</body>

</html>
